@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      background: #eff2f5;
      color: #1f2937;
    }
    body, input, textarea, button {
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: 1rem;
    }
  }